<?xml version="1.0"?>
<config>
	<global>
		<models>
			<custom>
				<class>Sm_Custom_Model</class>
			</custom>
		</models>
		<blocks>
			<custom>
				<class>Sm_Custom_Block</class>
			</custom>
		</blocks>
		<helpers>
			<custom>
				<class>Sm_Custom_Helper</class>
			</custom>
		</helpers>
		<resources>
			<custom_setup>
				<setup>
					<module>Sm_Custom</module>
				</setup>
			</custom_setup>
		</resources>
	</global>
	<frontend>
		<routers>
			<custom>
				<use>standard</use>
				<args>
					<module>Sm_Custom</module>
					<frontName>custom</frontName>
				</args>
			</custom>
		</routers>
		<layout>
			<updates>
				<custom module="Sm_Custom">
					<file>sm/custom.xml</file>
				</custom>
			</updates>
		</layout>
		<translate>
			<modules>
				<Sm_Custom>
					<files>
						<default>Sm_Custom.csv</default>
					</files>
				</Sm_Custom>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Sm_Custom>
					<files>
						<default>Sm_Custom.csv</default>
					</files>
				</Sm_Custom>
			</modules>
		</translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<custom_cfg translate="title" module="custom">
											<title>SM Custom Settings</title>
										</custom_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<basket>
					<file>picker.xml</file>
				</basket>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<custom_cfg>
			<general>
				<active>1</active>
				<title>SM Custom</title>
				<custom_title_text>Title Custom</custom_title_text>
				<product_links_target>_self</product_links_target>
			</general>

			<source_options>
				<header_item>3</header_item>
				<product_additem></product_additem>
			</source_options>

			<advanced>
				<pretext>Pretext</pretext>
				<posttext>Posttext</posttext>
			</advanced>
		</custom_cfg>
	</default>
</config>