<?xml version="1.0"?>
<config>
	<tabs>
		<sm translate="label">
			<label>Magentech.com</label>
			<sort_order>300</sort_order>
		</sm>
	</tabs>
	<sections>
		<instagramgallery translate="label">
			<label>SM Instagram Gallery</label>
			<tab>sm</tab>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<sort_order>260</sort_order>
			<groups>
				<general>
					<label>General Settings</label>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled>
							<label>Enable Module</label>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
						</enabled>
						<title>
							<label>Title</label>
							<sort_order>2</sort_order>
							<validate>required-entry</validate>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_type>text</frontend_type>
						</title>
						<users>
							<label>Instagram Users ID</label>
							<sort_order>3</sort_order>
							<validate>validate-greater-than-zero required-entry validate-number</validate>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_type>text</frontend_type>
						</users>
						<access_token>
							<label>Access Token</label>
							<sort_order>4</sort_order>
							<validate>validate-greater-than-zero required-entry</validate>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_type>text</frontend_type>
						</access_token>
						<limit_image>
							<label>Limit Image</label>
							<sort_order>5</sort_order>
							<validate>validate-greater-than-zero required-entry validate-number</validate>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_type>text</frontend_type>
						</limit_image>
					</fields>
				</general>

				<numbercols>
					<label>Config number cols for decives</label>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<heading1 translate="label">
							<label>For devices have screen width from 1200px up to greater.</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
						</heading1>
						<nb_column1 translate="label">
							<label>#Column</label>
							<frontend_type>select</frontend_type>
							<source_model>instagramgallery/source_numcols</source_model>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</nb_column1>
						<heading2 translate="label">
							<label>For devices have screen width from 992px up to 1199px.</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
						</heading2>
						<nb_column2 translate="label">
							<label>#Column</label>
							<frontend_type>select</frontend_type>
							<source_model>instagramgallery/source_numcols</source_model>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</nb_column2>
						<heading3 translate="label">
							<label>For devices have screen width from 768 up to 991px.</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
						</heading3>
						<nb_column3 translate="label">
							<label>#Column</label>
							<frontend_type>select</frontend_type>
							<source_model>instagramgallery/source_numcols</source_model>
							<sort_order>11</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</nb_column3>
						<heading4 translate="label">
							<label>For devices have screen width less than or equal 767px.</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>12</sort_order>
							<show_in_default>1</show_in_default>
						</heading4>
						<nb_column4 translate="label">
							<label>#Column</label>
							<frontend_type>select</frontend_type>
							<source_model>instagramgallery/source_numcols</source_model>
							<sort_order>13</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</nb_column4>
					</fields>
				</numbercols>

				<jquery>
					<label>Include Jquery</label>
					<sort_order>3</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<include_jquery translate="label">
							<label>Include jQuery</label>
							<frontend_type>radios</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</include_jquery>
						<use_cache translate="label">
							<label>Caching</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Select whether to cache the content of this module
							</comment>
						</use_cache>
						<cache_time>
							<label>Cache Time</label>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<validate>validate-greater-than-zero</validate>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>The time (in seconds) before the module is recached.</comment>
							<depends>
								<use_cache>1</use_cache>
							</depends>
						</cache_time>
					</fields>
				</jquery>

				<product_information translate="label">
					<label>Product Information</label>
					<frontend_type>text</frontend_type>
					<sort_order>50</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<author translate="label">
							<label><![CDATA[<p>Author: <a target="_blank" title="Magentech" href="http://www.magentech.com">Magentech</a></p>
											<p>Vesion: 1.0.1</p>
											<p>Userguide: <a target="_blank" title="Userguide" href="http://www.magentech.com/documentation/sm-instagram-gallery/">Userguide</a></p>
											<p>Support: <a target="_blank" href="http://www.magentech.com/forum">Support</a></p>
								]]>
							</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
						</author>
					</fields>
				</product_information>
			</groups>
		</instagramgallery>
	</sections>
</config>