<?xml version="1.0"?>
<config>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Sm_Supercategories before="Mage_Adminhtml">Sm_Supercategories_Adminhtml</Sm_Supercategories>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<global>
		<models>
			<supercategories>
				<class>Sm_Supercategories_Model</class>
			</supercategories>
		</models>
		<blocks>
			<supercategories>
				<class>Sm_Supercategories_Block</class>
			</supercategories>
		</blocks>
		<helpers>
			<supercategories>
				<class>Sm_Supercategories_Helper</class>
			</supercategories>
		</helpers>
		<resources>
			<supercategories_setup>
				<setup>
					<module>Sm_Supercategories</module>
				</setup>
			</supercategories_setup>
		</resources>
	</global>
	<frontend>
		<routers>
			<supercategories>
				<use>standard</use>
				<args>
					<module>Sm_Supercategories</module>
					<frontName>supercategories</frontName>
				</args>
			</supercategories>
		</routers>
		<layout>
			<updates>
				<supercategories module="Sm_Supercategories">
					<file>sm/supercategories.xml</file>
				</supercategories>
			</updates>
		</layout>
		<translate>
			<modules>
				<Sm_Supercategories>
					<files>
						<default>Sm_Supercategories.csv</default>
					</files>
				</Sm_Supercategories>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<events>
			<core_block_abstract_to_html_after>
				<observers>
					<sm_supercategories>
						<type>singleton</type>
						<class>supercategories/observer</class>
						<method>injectHtml</method>
					</sm_supercategories>
				</observers>
			</core_block_abstract_to_html_after>
		</events>
		<translate>
			<modules>
				<Sm_Supercategories>
					<files>
						<default>Sm_Supercategories.csv</default>
					</files>
				</Sm_Supercategories>
			</modules>
		</translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<supercategories_cfg translate="title" module="supercategories">
											<title>SM Super Categories Settings</title>
										</supercategories_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<supercategories module="Sm_Supercategories">
					<file>sm/supercategories.xml</file>
				</supercategories>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<supercategories_cfg>
			<general>
				<active>1</active>
				<product_links_target>_self</product_links_target>		
				<show_loadmore_slider>slider</show_loadmore_slider>				
				<product_limitation_a_slider>6</product_limitation_a_slider>				
			</general>

			<source_options>
				<product_category></product_category>
				<filter_order_by></filter_order_by>
				<field_preload></field_preload>
				<child_category_products>1</child_category_products>
				<max_depth>1</max_depth>
				<product_featured>0</product_featured>
				<product_order_dir>ASC</product_order_dir>
				<product_limitation>5</product_limitation>
				<product_limitation_loadmore>10</product_limitation_loadmore>
			</source_options>
			
			<cat_options>
				<cat_title_maxlength>25</cat_title_maxlength>				
				<img_cat_width>88</img_cat_width>
				<img_cat_height>77</img_cat_height>
				<img_cat_placeholder></img_cat_placeholder>
				<play>1</play>
				<start>1</start>
				<scroll>1</scroll>
				<duration>800</duration>
				<delay>2500</delay>
				<stop>1</stop>
				<next_prev_display>1</next_prev_display>
				<nb_column1>6</nb_column1>
				<nb_column2>5</nb_column2>
				<nb_column3>4</nb_column3>
				<nb_column4>3</nb_column4>
			</cat_options>
			
			<product_options>
				<nbi_column1>4</nbi_column1>
				<nbi_column2>3</nbi_column2>
				<nbi_column3>2</nbi_column3>
				<nbi_column4>1</nbi_column4>
				<product_image_display>1</product_image_display>
				<product_image_width>200</product_image_width>
				<product_image_height>200</product_image_height>
				<product_title_display>1</product_title_display>
				<product_title_maxlength>25</product_title_maxlength>
				<product_description_display>1</product_description_display>
				<product_description_maxlength>150</product_description_maxlength>
				<product_price_display>1</product_price_display>
				<product_reviews_count>1</product_reviews_count>
				<product_addcart_display>1</product_addcart_display>
				<product_addwishlist_display>1</product_addwishlist_display>
				<product_addcompare_display>1</product_addcompare_display>
				<product_readmore_display>1</product_readmore_display>
				<product_readmore_text>Details</product_readmore_text>
				<product_duration>600</product_duration>
				<product_delay>300</product_delay>
				<effect></effect>
			</product_options>

			<advanced>
				<include_jquery>1</include_jquery>
				<pretext></pretext>
				<posttext></posttext>
				<use_cache>1</use_cache>
				<cache_time>3600</cache_time>
			</advanced>
		</supercategories_cfg>
	</default>
</config>