.basic-filer-page {
	.products-grid {
		.clr4 {
			clear: both;
		}
		.item {
			float: left;
			width: 25%;
		}		
	}
}
/*CSS Responsive*/

/*--------- Other --------------*/

@media all and (max-width: 479px) {
  .sm-basic-products .bs-resp04-6 .bs-item {
    width: 16.650%;
  }

  .sm-basic-products .bs-resp04-5 .bs-item {
    width: 19.958%;
  }

  .sm-basic-products .bs-resp04-4 .bs-item {
    width: 24.995%;
  }

  .sm-basic-products .bs-resp04-3 .bs-item {
    width: 33.315%;
  }

  .sm-basic-products .bs-resp04-2 .bs-item {
    width: 49.985%;
  }

  .sm-basic-products .bs-resp04-1 .bs-item {
    width: 100%;
  }

  .sm-basic-products .bs-resp04-1 .clr1,
  .sm-basic-products .bs-resp04-2 .clr2,
  .sm-basic-products .bs-resp04-3 .clr3,
  .sm-basic-products .bs-resp04-4 .clr4,
  .sm-basic-products .bs-resp04-5 .clr5,
  .sm-basic-products .bs-resp04-6 .clr6 {
    clear: both;
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .sm-basic-products .bs-resp03-6 .bs-item {
    width: 16.650%;
  }

  .sm-basic-products .bs-resp03-5 .bs-item {
    width: 19.958%;
  }

  .sm-basic-products .bs-resp03-4 .bs-item {
    width: 24.995%;
  }

  .sm-basic-products .bs-resp03-3 .bs-item {
    width: 33.295%;
  }

  .sm-basic-products .bs-resp03-2 .bs-item {
    width: 49.999%;
  }

  .sm-basic-products .bs-resp03-1 .bs-item {
    width: 100%;
  }

  .sm-basic-products .bs-resp03-1 .clr1 {
    clear: both;
  }

  .sm-basic-products .bs-resp03-2 .clr2 {
    clear: both;
  }

  .sm-basic-products .bs-resp03-3 .clr3 {
    clear: both;
  }

  .sm-basic-products .bs-resp03-4 .clr4 {
    clear: both;
  }

  .sm-basic-products .bs-resp03-5 .clr5 {
    clear: both;
  }

  .sm-basic-products .bs-resp03-6 .clr6 {
    clear: both;
  }
}

@media all and (min-width: 768px) and (max-width: 1199px) {
  .sm-basic-products .bs-resp02-6 .bs-item {
    width: 16.650%;
  }

  .sm-basic-products .bs-resp02-5 .bs-item {
    width: 19.958%;
  }

  .sm-basic-products .bs-resp02-4 .bs-item {
    width: 24.995%;
  }

  .sm-basic-products .bs-resp02-3 .bs-item {
    width: 33.315%;
  }

  .sm-basic-products .bs-resp02-2 .bs-item {
    width: 49.999%;
  }

  .sm-basic-products .bs-resp02-1 .bs-item {
    width: 100%;
  }

  .sm-basic-products .bs-resp02-1 .clr1,
  .sm-basic-products .bs-resp02-2 .clr2,
  .sm-basic-products .bs-resp02-3 .clr3,
  .sm-basic-products .bs-resp02-4 .clr4,
  .sm-basic-products .bs-resp02-5 .clr5,
  .sm-basic-products .bs-resp02-6 .clr6 {
    clear: both;
  }
}

@media all and (min-width: 1200px) {
  .sm-basic-products .bs-resp01-6 .bs-item {
    width: 16.650%;
  }

  .sm-basic-products .bs-resp01-5 .bs-item {
    width: 19.970%;
  }

  .sm-basic-products .bs-resp01-4 .bs-item {
    width: 24.995%;
  }

  .sm-basic-products .bs-resp01-3 .bs-item {
    width: 33.315%;
  }

  .sm-basic-products .bs-resp01-2 .bs-item {
    width: 49.999%;
  }

  .sm-basic-products .bs-resp01-1 .bs-item {
    width: 100%;
  }
}
