<?xml version="1.0"?>
<config>
    <modules>
        <Sm_Cartpro>
            <version>2.0.0</version>
        </Sm_Cartpro>
    </modules>
    <global>
        <models>
            <cartpro>
                <class>Sm_Cartpro_Model</class>
            </cartpro>
        </models>
        <resources>
            <cartpro_setup>
                <setup>
                    <module>Sm_Cartpro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cartpro_setup>
            <cartpro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cartpro_write>
            <cartpro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cartpro_read>
        </resources>
        <blocks>
            <cartpro>
                <class>Sm_Cartpro_Block</class>
            </cartpro>
		</blocks>
        <helpers>
            <cartpro>
                <class>Sm_Cartpro_Helper</class>
            </cartpro>
        </helpers>
    </global>
    <frontend>
        <routers>
            <cartpro>
                <use>standard</use>
                <args>
                    <module>Sm_Cartpro</module>
                    <frontName>cartpro</frontName>
                </args>
            </cartpro>
			<cartprooptoins>
				<use>standard</use>
				<args>
					<module>Sm_Cartpro</module>
					<frontName>cartprooptoins</frontName>
				</args>
			</cartprooptoins>
        </routers>
        <layout>
            <updates>
                <cartpro>
                    <file>sm/cartpro.xml</file>
                </cartpro>
            </updates>
        </layout>
        <translate>
			<modules>
				<Sm_Cartpro>
					<files>
						<default>Sm_Cartpro.csv</default>
					</files>
				</Sm_Cartpro>
			</modules>
		</translate>
    </frontend>
    <admin>
        <routers>
			<cartpro>
				<use>admin</use>
				<args>
					<module>Sm_Cartpro</module>
					<frontName>cartpro</frontName>
				</args>
			</cartpro>
        </routers>
    </admin>
    <adminhtml>
		<!--<menu>
			<cartpro module="cartpro">
				<title>Cartpro</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="cartpro">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>cartpro/adminhtml_cartpro</action>
					</items>
				</children>
			</cartpro>
		</menu>-->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<cartpro>
							<title>cartpro Module</title>
							<sort_order>10</sort_order>
						</cartpro>
					
						<system>
	                            <children>
	                                <config>
	                                    <children>
	                                        <cartpro_cfg translate="title" module="cartpro">
	                                            <title>SM Cartpro</title>
	                                        </cartpro_cfg>
	                                    </children>
	                                </config>
	                            </children>
	                   </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<cartpro>
					<file>cartpro.xml</file>
				</cartpro>
			</updates>
		</layout>
        <translate>
			<modules>
				<Sm_Cartpro>
					<files>
						<default>Sm_Cartpro.csv</default>
					</files>
				</Sm_Cartpro>
			</modules>
		</translate>
    </adminhtml>   
	<default>
		<cartpro_cfg>
			<general>
				<enable>1</enable>
				<enable_ajax_cart>1</enable_ajax_cart>
				<enable_ajax_compare>1</enable_ajax_compare>
				<enable_ajax_wishlist>1</enable_ajax_wishlist>
				<confirm_countdown_number>20</confirm_countdown_number>
				<mini_cartpro_effect_selector>click</mini_cartpro_effect_selector>
			</general>
		</cartpro_cfg>
	</default>
</config>